<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Obdz1.Properties.Settings.ConnectionString" connectionString="Data Source=xe;User ID=system;Password=wtfwtf;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>